{% extends "base.html" %}
{% block content %}

<h3>Select Avatar</h3>

<div class="card-container">
    <a href="/set-avatar/avatar1.png"><img src="/static/avatars/avatar1.avif" class="avatar"></a>
    <a href="/set-avatar/avatar2.png"><img src="/static/avatars/avatar2.jpg" class="avatar"></a>
    <a href="/set-avatar/avatar3.png"><img src="/static/avatars/avatar3.jpg" class="avatar"></a>
    <a href="/set-avatar/avatar4.png"><img src="/static/avatars/avatar4.png" class="avatar"></a>
    <a href="/set-avatar/avatar4.png"><img src="/static/avatars/avatar5.webp" class="avatar"></a>
</div>

{% endblock %}